@import './ui/ui-alert.css';
@import './ui/ui-app-bar.css';
@import './ui/ui-app.css';
@import './ui/ui-avatar.css';
@import './ui/ui-badge.css';
@import './ui/ui-blockquote.css';
@import './ui/ui-breadcrumb.css';
@import './ui/ui-button-group.css';
@import './ui/ui-button.css';
@import './ui/ui-context-menu.css';
@import './ui/ui-divider.css';
@import './ui/ui-dropdown.css';
@import './ui/ui-flex.css';
@import './ui/ui-grid.css';
@import './ui/ui-input.css';
@import './ui/ui-material-symbols.css';
@import './ui/ui-progress-bar.css';
@import './ui/ui-sidebar.css';
@import './ui/ui-spinner.css';
@import './ui/ui-status-light.css';
@import './ui/ui-switch.css';
@import './ui/ui-timeline.css';
@import './ui/ui-tooltip.css';
@import './ui/ui-youtube.css';



:root{


    --z-index-max: 2147483647;

    --border-radius-sm: 0.25rem;
    --border-radius: 0.375rem;
    --border-radius-lg: 0.5rem;
    --border-radius-xl: 0.75rem;

    --font-weight-thin: 100;
    --font-weight-extralight: 200;
    --font-weight-light: 300;


    --transition-fast-duration: .1s;
    --transition-duration: .2s;
    --transition-slow-duration: .3s;


    --ease-in: cubic-bezier(.4,0,1,1);
    --ease-out: cubic-bezier(0,0,.2,1);
    --ease-in-out: cubic-bezier(.4,0,.2,1);

    --blur-xs: 4px;
    --blur-sm: 8px;
    --blur-md: 12px;
    --blur-lg: 16px;
    --blur-xl: 24px;
    --blur-2xl: 40px;
    --blur-3xl: 64px;

    --gap-xs: 4px;
    --gap-sm: 8px;
    --gap: 12px;
    --gap-lg: 16px;
    --gap-xl: 24px;
    --gap-2xl: 40px;
    --gap-3xl: 64px;

    --padding-xs: 4px;
    --padding-sm: 8px;
    --padding: 12px;
    --padding-lg: 16px;
    --padding-xl: 24px;

    --perspective-dramatic: 100px;
    --perspective-near: 300px;
    --perspective-normal: 500px;
    --perspective-midrange: 800px;
    --perspective-distant: 1200px;

    --aspect-video: 16/9;

    --color-surface:var(--color-surface-overwrite, #ebe9ec);
    --color-surface-lighter: hsl(from var(--color-surface) h s calc(l + 6));
    --color-surface-light: hsl(from var(--color-surface) h s calc(l + 3));
    --color-surface-dark: hsl(from var(--color-surface) h s calc(l - 3));
    --color-surface-darker: hsl(from var(--color-surface) h s calc(l - 6));
    --color-surface-contrast: var(--color-surface-contrast-overwrite, #12031b);
    --color-surface-lighter-contrast: hsl(from var(--color-surface-contrast) h s calc(l + 6));
    --color-surface-light-contrast: hsl(from var(--color-surface-contrast) h s calc(l + 3));
    --color-surface-dark-contrast: hsl(from var(--color-surface-contrast) h s calc(l - 3));
    --color-surface-darker-contrast: hsl(from var(--color-surface-contrast) h s calc(l - 6));

    --color-surface-inverse:var(--color-surface-inverse-overwrite, #2f2844);
    --color-surface-inverse-lighter: hsl(from var(--color-surface-inverse) h s calc(l + 6));
    --color-surface-inverse-light: hsl(from var(--color-surface-inverse) h s calc(l + 3));
    --color-surface-inverse-dark: hsl(from var(--color-surface-inverse) h s calc(l - 3));
    --color-surface-inverse-darker: hsl(from var(--color-surface-inverse) h s calc(l - 6));
    --color-surface-inverse-contrast: var(--color-surface-inverse-contrast-overwrite, #d8cef8);
    --color-surface-inverse-lighter-contrast: hsl(from var(--color-surface-inverse-contrast) h s calc(l + 6));
    --color-surface-inverse-light-contrast: hsl(from var(--color-surface-inverse-contrast) h s calc(l + 3));
    --color-surface-inverse-dark-contrast: hsl(from var(--color-surface-inverse-contrast) h s calc(l - 3));
    --color-surface-inverse-darker-contrast: hsl(from var(--color-surface-inverse-contrast) h s calc(l - 6));

    --color-primary: var(--color-primary-overwrite, #645494);
    --color-primary-lighter: hsl(from var(--color-primary) h s calc(l + 10));
    --color-primary-light: hsl(from var(--color-primary) h s calc(l + 5));
    --color-primary-dark: hsl(from var(--color-primary) h s calc(l - 5));
    --color-primary-darker: hsl(from var(--color-primary) h s calc(l - 10));
    --color-primary-contrast:var(--color-primary-contrast-overwrite, #f0ebff);
    --color-primary-lighter-contrast: hsl(from var(--color-primary-contrast) h s calc(l + 10));
    --color-primary-light-contrast: hsl(from var(--color-primary-contrast) h s calc(l + 5));
    --color-primary-dark-contrast: hsl(from var(--color-primary-contrast) h s calc(l - 5));
    --color-primary-darker-contrast: hsl(from var(--color-primary-contrast) h s calc(l - 10));

    --color-secondary: var(--color-secondary-overwrite, #5d5d71);
    --color-secondary-lighter: hsl(from var(--color-secondary) h s calc(l + 10));
    --color-secondary-light: hsl(from var(--color-secondary) h s calc(l + 5));
    --color-secondary-dark: hsl(from var(--color-secondary) h s calc(l - 5));
    --color-secondary-darker: hsl(from var(--color-secondary) h s calc(l - 10));
    --color-secondary-contrast: var(--color-secondary-contrast-overwrite, #c2c2c2);
    --color-secondary-lighter-contrast: hsl(from var(--color-secondary-contrast) h s calc(l + 10));
    --color-secondary-light-contrast: hsl(from var(--color-secondary-contrast) h s calc(l + 5));
    --color-secondary-dark-contrast: hsl(from var(--color-secondary-contrast) h s calc(l - 5));
    --color-secondary-darker-contrast: hsl(from var(--color-secondary-contrast) h s calc(l - 10));

    --color-tertiary: var(--color-tertiary-overwrite, #7b498a);
    --color-tertiary-lighter: hsl(from var(--color-tertiary) h s calc(l + 10));
    --color-tertiary-light: hsl(from var(--color-tertiary) h s calc(l + 5));
    --color-tertiary-dark: hsl(from var(--color-tertiary) h s calc(l - 5));
    --color-tertiary-darker: hsl(from var(--color-tertiary) h s calc(l - 10));
    --color-tertiary-contrast: var(--color-tertiary-contrast-overwrite, #ffffff);
    --color-tertiary-lighter-contrast: hsl(from var(--color-tertiary-contrast) h s calc(l + 10));
    --color-tertiary-light-contrast: hsl(from var(--color-tertiary-contrast) h s calc(l + 5));
    --color-tertiary-dark-contrast: hsl(from var(--color-tertiary-contrast) h s calc(l - 5));
    --color-tertiary-darker-contrast: hsl(from var(--color-tertiary-contrast) h s calc(l - 10));

    --color-error: var(--color-error-overwrite, #a52c22);
    --color-error-lighter: hsl(from var(--color-error) h s calc(l + 10));
    --color-error-light: hsl(from var(--color-error) h s calc(l + 5));
    --color-error-dark: hsl(from var(--color-error) h s calc(l - 5));
    --color-error-darker: hsl(from var(--color-error) h s calc(l - 10));
    --color-error-contrast:var(--color-error-contrast-overwrite, #e7b8b8);
    --color-error-lighter-contrast: hsl(from var(--color-error-contrast) h s calc(l + 10));
    --color-error-light-contrast: hsl(from var(--color-error-contrast) h s calc(l + 5));
    --color-error-dark-contrast: hsl(from var(--color-error-contrast) h s calc(l - 5));
    --color-error-darker-contrast: hsl(from var(--color-error-contrast) h s calc(l - 10));

    --color-warning: var(--color-warning-overwrite,  #f57c00);
    --color-warning-lighter: hsl(from var(--color-warning) h s calc(l + 10));
    --color-warning-light: hsl(from var(--color-warning) h s calc(l + 5));
    --color-warning-dark: hsl(from var(--color-warning) h s calc(l - 5));
    --color-warning-darker: hsl(from var(--color-warning) h s calc(l - 10));
    --color-warning-contrast: var(--color-warning-contrast-overwrite, #ffffff);
    --color-warning-lighter-contrast: hsl(from var(--color-warning-contrast) h s calc(l + 10));
    --color-warning-light-contrast: hsl(from var(--color-warning-contrast) h s calc(l + 5));
    --color-warning-dark-contrast: hsl(from var(--color-warning-contrast) h s calc(l - 5));
    --color-warning-darker-contrast: hsl(from var(--color-warning-contrast) h s calc(l - 10));

    --color-info: var(--color-info-overwrite, #0288d1);
    --color-info-lighter: hsl(from var(--color-info) h s calc(l + 10));
    --color-info-light: hsl(from var(--color-info) h s calc(l + 5));
    --color-info-dark: hsl(from var(--color-info) h s calc(l - 5));
    --color-info-darker: hsl(from var(--color-info) h s calc(l - 10));
    --color-info-contrast: var(--color-info-contrast-overwrite, #ffffff);
    --color-info-lighter-contrast: hsl(from var(--color-info-contrast) h s calc(l + 10));
    --color-info-light-contrast: hsl(from var(--color-info-contrast) h s calc(l + 5));
    --color-info-dark-contrast: hsl(from var(--color-info-contrast) h s calc(l - 5));
    --color-info-darker-contrast: hsl(from var(--color-info-contrast) h s calc(l - 10));

    --color-success: var(--color-success-overwrite,  #388e3c);
    --color-success-lighter: hsl(from var(--color-success) h s calc(l + 10));
    --color-success-light: hsl(from var(--color-success) h s calc(l + 5));
    --color-success-dark: hsl(from var(--color-success) h s calc(l - 5));
    --color-success-darker: hsl(from var(--color-success) h s calc(l - 10));
    --color-success-contrast: var(--color-success-contrast-overwrite,  #ffffff);
    --color-success-lighter-contrast: hsl(from var(--color-success-contrast) h s calc(l + 10));
    --color-success-light-contrast: hsl(from var(--color-success-contrast) h s calc(l + 5));
    --color-success-dark-contrast: hsl(from var(--color-success-contrast) h s calc(l - 5));
    --color-success-darker-contrast: hsl(from var(--color-success-contrast) h s calc(l - 10));

    /* FONTS */
    
    --font-display-weight: 300;
    --font-display-family: "Poppins", sans-serif;
    --font-display-size-lg: 5rem;
    --font-display-size: 4rem;
    --font-display-size-sm: 3.5rem;
    --font-display-line-height: 1.2;
    --font-display: var(--font-display-weight) var(--font-display-size)/var(--font-display-line-height) var(--font-display-family);

    --font-headline-weight: 700;
    --font-headline-family: "Poppins", sans-serif;
    --font-headline-size: 2.2rem;
    --font-headline-size-lg: 2rem;
    --font-headline-size-sm: 1.8rem;
    --font-headline-line-height: 1.5;
    --font-headline: var(--font-headline-weight) var(--font-headline-size)/var(--font-headline-line-height) var(--font-headline-family);

    --font-title-weight: 600;
    --font-title-family: "Poppins", sans-serif;
    --font-title-size-lg: 1.7rem;
    --font-title-size: 1.5rem;
    --font-title-size-sm: 1.3rem;
    --font-title-line-height: 1.5;
    --font-title: var(--font-title-weight) var(--font-title-size)/var(--font-title-line-height) var(--font-title-family);

    --font-body-weight: 400;
    --font-body-family: "Poppins", sans-serif;
    --font-body-size-sm: .8rem;
    --font-body-size: 1rem;
    --font-body-size-lg: 1.2rem;
    --font-body-line-height: 1.4;

    --font-body: var(--font-body-weight) var(--font-body-size)/var(--font-body-line-height) var(--font-body-family);
    --font-body-sm: var(--font-body-weight) var(--font-body-size-sm)/var(--font-body-line-height) var(--font-body-family);

    --font-label-weight: 400;
    --font-label-family: "Poppins", sans-serif;
    --font-label-size-sm: .5rem;
    --font-label-size: .65rem;
    --font-label-size-lg: .8rem;
    --font-label-line-height: 1.5;
    --font-label: var(--font-label-weight) var(--font-label-size)/var(--font-label-line-height) var(--font-label-family);
    --font-label-sm: var(--font-label-weight) var(--font-label-size-sm)/var(--font-label-line-height) var(--font-label-family);
    --font-label-lg: var(--font-label-weight) var(--font-label-size-lg)/var(--font-label-line-height) var(--font-label-family);

    



    
    



}


html {
    font-size: 16px;
}
body{
    font: var(--font-body);
   

    box-sizing: border-box;
    margin: 0;




}

* {

    box-sizing: border-box;
}
