:root {
    --avatar-xs-width: 16px;
    --avatar-xs-font-size: 8px;


    --avatar-sm-width: 24px;
    --avatar-xm-font-size: 12px;

    --avatar-default-width: 32px;
    --avatar-default-font-size: 16px;

    --avatar-lg-width: 48px;
    --avatar-lg-font-size: 24px;

    --avatar-xl-width: 64px;
    --avatar-xl-font-size: 32px;



    --avatar-default-border-radius: var(--border-radius);
    --avatar-rounded-border-radius: 128px;
}