:root {


    --button-border-radius: var(--border-radius, 3px);
    --button-variant-primary-background: pink;
    --button-variant-primary-color: #FFF;



    /*

       const variant = this.getAttribute("variant") || "primary";
        const size = this.getAttribute("size") || null;
        const disabled = this.hasAttribute("disabled");
        const icon = this.hasAttribute("icon");
        const icon_trailing = this.hasAttribute("icon-trailing");
        const loading = this.hasAttribute("loading");
        const square = this.hasAttribute("square");
    */


    


}