:root {


    --button-border-radius: var(--border-radius, 3px);

    --button-default-background: pink;
    --button-default-color: #FFF;
    
    --button-primary-background: pink;
    --button-primary-color: #FFF;

    --button-filled-background: pink;
    --button-filled-color: #FFF;
    
    --button-danger-background: pink;
    --button-danger-color: #FFF;

    --button-variant-ghost-background: pink;
    --button-variant-ghost-color: #FFF;
    
    --button-variant-subtle-background: pink;
    --button-variant-subtle-color: #FFF;

    --button-xs-padding: var(--padding-xs);
    --button-sm-padding: var(--padding-sm);
    --button-default-padding: var(--padding);
    --button-lg-padding: var(--padding-lg);
    --button-xl-padding: var(--padding-xl);
}