:root {

    --badge-text-transform: var(--font-label-text-transform);

    /* VARIANTS */

    --badge-default-background: var(--color-primary);
    --badge-default-color: var(--color-primary-contrast);
    --badge-default-outline: none;

    --badge-secondary-background: var(--color-secondary);
    --badge-secondary-color: var(--color-secondary-contrast);
    --badge-secondary-outline: none;

    --badge-tertiary-background: var(--color-tertiary);
    --badge-tertiary-color: var(--color-tertiary-contrast);
    --badge-tertiary-outline: none;

    --badge-outlined-background: transparent;
    --badge-outlined-color: var(--color-primary);
    --badge-outlined-outline: 0px solid var(--color-primary);

    --badge-danger-background: var(--color-error);
    --badge-danger-color: var(--color-error-contrast);
    --badge-danger-outline: none;

    --badge-warning-background: var(--color-warning);
    --badge-warning-color: var(--color-warning-contrast);
    --badge-warning-outline: none;

    --badge-info-background: var(--color-info);
    --badge-info-color: var(--color-info-contrast);
    --badge-info-outline: none;

    --badge-success-background: var(--color-success);
    --badge-success-color: var(--color-success-contrast);
    --badge-success-outline: none;

    
    /* SIZES */
    
    --badge-sm-gap: calc(var(--font-label-size-sm) * .75);
    --badge-sm-padding: calc(var(--font-label-size-sm) * .75);
    --badge-sm-font: var(--font-label-sm);
    --badge-sm-letter-spacing: var(--font-label-sm-letter-spacing);
    --badge-sm-border-radius: calc(var(--font-label-size) * .2);
    --badge-sm-outline-width: 1px;
    --badge-sm-outline-offset: -1px;
    
    
    --badge-default-gap: calc(var(--font-label-size) * .75);
    --badge-default-padding: calc(var(--font-label-size) * .75);
    --badge-default-font: var(--font-label);
    --badge-default-letter-spacing: var(--font-label-letter-spacing);
    --badge-default-border-radius: calc(var(--font-label-size) * .2);
    --badge-default-outline-width: 1px;
    --badge-default-outline-offset: -1px;
    
    
    --badge-lg-gap: calc(var(--font-label-size-lg) * .75);
    --badge-lg-padding: calc(var(--font-label-size-lg) * .75);
    --badge-lg-font: var(--font-label-lg);
    --badge-lg-letter-spacing: var(--font-label-lg-letter-spacing);
    --badge-lg-border-radius: calc(var(--font-label-size) * .2);
    --badge-lg-outline-width: 1px;
    --badge-lg-outline-offset: -1px;






   
}