:root {
    --badge-default-background: var(--color-primary);
    --badge-default-color: var(--color-primary-contrast);
    --badge-default-outline: none;

    --badge-outlined-background: transparent;
    --badge-outlined-color: var(--color-primary);
    --badge-outlined-outline: 0px solid var(--color-primary);
    
    --badge-default-border-radius: calc(var(--font-label-size) * .2);
    --badge-sm-border-radius: calc(var(--font-label-size) * .2);
    --badge-lg-border-radius: calc(var(--font-label-size) * .2);

    --badge-default-padding: calc(var(--font-label-size) * .5);
    --badge-sm-padding: calc(var(--font-label-size-sm) * .5);
    --badge-lg-padding: calc(var(--font-label-size-lg) * .5);

    --badge-default-gap: calc(var(--font-label-size) * .5);
    --badge-sm-gap: calc(var(--font-label-size-sm) * .5);
    --badge-lg-gap: calc(var(--font-label-size-lg) * .5);

    --badge-default-font: var(--font-label);
    --badge-sm-font: var(--font-label-sm);
    --badge-lg-font: var(--font-label-lg);

    --badge-default-outline-width: 1px;
    --badge-default-outline-offset: -1px;
    --badge-sm-outline-width: 1px;
    --badge-sm-outline-offset: -1px;
    --badge-lg-outline-width: 1px;
    --badge-lg-outline-offset: -1px;
}