:root {



    --sidebar-xs-width: 280px;

    --sidebar-sm-width: 340px;

    --sidebar-default-width: 400px;

    --sidebar-lg-width: 480px;

    --sidebar-xl-width: 600px;
   

    --sidebar-default-background: orange;

    --sidebar-default-padding: var(--padding);

}